<%
//profile image
var profile_image = '/themes/frontend/images/default-user.png';
var cover_image = '/themes/frontend/images/company-profile.jpg';

if(userData.profile_image &&  userData.profile_image!=''){
    profile_image = '/uploads/users/'+userData.profile_image;
}
if(userData.cover_image &&  userData.cover_image!=''){
    cover_image = '/uploads/users/'+userData.cover_image;
}

var user_Slug='/profile';
if(userData.slug &&  userData.slug!=''){
    user_Slug = '/profile/'+userData.slug;
}
%>

<style type="text/css">
.outer-border {
    border: 1px solid #F1F1F3;
    min-height: 237px;
    padding: 10px;
}    
.outer-border ul{
    list-style:circle;
    padding: inherit;
    margin: initial;
}
</style>

<div class="main-container">
    <div class="container">
        <div class="row">
            <%- include ../user/user-left-sidebar.ejs %>

            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 pull-right">
                <form method="post" id="ChangePassword" class="form-group">
                    <div class="p9_container p9_main_form">
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div id="displayErrorMsg"></div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label class="label" for="">Current Password</label>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <input type="password" name="current_password" id="current_password" placeholder="Enter Current Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label class="label" for="">New Password</label>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <input type="password" name="password" id="password" placeholder="Enter New Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label class="label" for="">Confirm Password</label>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Enter Confirm Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group a-center p9_submit_button">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">&nbsp;</div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/" class="btn btn-primary">Discard</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 outer-border">
                            <ul>
                                <li>New password must be at least 8 characters, 1 number and 1 character.</li>
                                <li>Both New & Confirm password must be matched.</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $("#ChangePassword").submit(function(event) {
        ajaxindicatorstart('LOADING');
        event.preventDefault();
        var form = $('#ChangePassword')[0]; // You need to use standard javascript object here
        var formData = new FormData(form);
        $.ajax({
            type: 'POST',
            url: "/change-password-after-login",
            data:  formData,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (response)
            {
                var msg = "";
                var html = "";
                if (response.status=='OK')
                {
                    html += '<div class="alert alert-success fade in alert-dismissable">';
                    html += '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>';
                    html += response.message+'</div>';
                    $("#displayErrorMsg").html(html);
                    // $.bootstrapGrowl(response.message, {type: 'success', delay: 2000});
                    // location.reload();
                } else {
                    if(typeof response.errors!='undefined'){
                        jQuery.each(response.errors, function(key, error){
                            jQuery.each(error, function(key1, error){
                                msg += "<p>"+error.message+"</p>"
                            });
                        });
                    }else{
                        msg = response.message;
                    }
                    html += '<div class="alert alert-danger fade in alert-dismissable">';
                    html += '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>';
                    html += msg+'</div>';
                    $("#displayErrorMsg").html(html);
                    // $.bootstrapGrowl(msg, {type: 'danger', delay: 2000});
                }
            }
        });
        ajaxindicatorstop();
    });
    
</script>