
<section class="middle-content job-search-form forgot-pwd-page">
	<div class="bgbox" style="background-image: url('./themes/frontend/images/banner-plain.png'); height: auto;">
		<div class="container">
			<div class="row">
				<div class="center-block text-center jobposting" id="search-form">
					<h1>Forgot password OTP send to email / mobile</h1>
					<div class="form-block">
						<div class="form-title">
							<label>Forgot Password</label>
						</div>
						<div class="form-group cf">
							<!-- BEGIN FORM --> 
							<form method="post" class="ajax-call-form" >
								<div class="col-md-12 col-sm-12 col-xs-12">
									<input type="text" name="loginid" required="" placeholder="Login ID">
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<button type="submit" class="gradient-btn">Send OTP</button>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 mg_top_20">
									<p><span>If you have already OTP code. Please </span><a href="/change-password">Click here</a></p>
								</div>
							</form>
							<!-- END FORM -->
						</div>
					</div>

					<div class="app-link">
						<div class="left">
							<h3>Download Lynked.World App :</h3>
						</div>
						<div class="right">
							<ul>
								<li>
									<a href="https://itunes.apple.com/us/app/lynked-world/id1363700735?platform=iphone&preserveScrollPosition=true#platform/iphone" name=""><i class="fa fa-apple" aria-hidden="true"></i></a>
									<a href="https://play.google.com/store/apps/details?id=com.world.lynkedworld" name=""><i class="fa fa-android" aria-hidden="true"></i></a>
								</li>
							 </ul>
						</div>
					</div>
				</div>
			</div>        
		</div>
	</div>
</section>

<div class="clearfix"></div>

<section class="cf">
	<div class="container"> 
		<div class="verification-type businesssolutionvtype cf">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<ul>
						<li>
							<div class="verification-inner">
								<i class="cfa-link" aria-hidden="true"></i>
								<h4>Peer to Peer</h4>
							</div>
						</li>
						<li>
							<div class="verification-inner">
								<i class="cfa-hand-grab-o" aria-hidden="true"></i>
								<h4>Instant</h4>
							</div>
						</li>
						<li>
							<div class="verification-inner">
								<i class="cfa-thumb" aria-hidden="true"></i>
								<h4>End to End encryption</h4>
							</div>
						</li>
						<li>
							<div class="verification-inner">
								<i class="cfa-shield" aria-hidden="true"></i>
								<h4>Secure &#38; Trusted</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(".ajax-call-form").submit(function(event) {
		event.preventDefault();
		var formData = new FormData( this );
		$.ajax({
			url: '/forgot-password',
			method: 'POST',
			data:  formData,
			mimeType:"multipart/form-data",
			processData: false,
			contentType: false,
			success: function(results)
			{
				var json_obj = jQuery.parseJSON( results );
				if(json_obj.status=='OK'){
					$.bootstrapGrowl(json_obj.message, {type: 'success', delay: 800,width:300});
					setTimeout(function() { window.location.href="/change-password"; },1000);

				}else{
					 $.bootstrapGrowl(json_obj.message, {type: 'danger', delay:1000,width:450});
				}
			}
		});
	});
</script>