<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	<div class="p16_sidebar first">
		<div class="p16_sidebar_1001"><% if(typeof total_connection != 'undefined'){ %><%=total_connection%><% } else { %>0<% } %></div>
		<div class="p16_sidebar_1002">Your Connections</div>
		<div class="p16_sidebar_1003"><a href="/connections/list">View All</a></div>
		<div class="p16_sidebar_1004">
			<a href="/connections/list">
				<img src="/themes/frontend/images/request1.jpg" alt="" class="social-connections-profile-img img-circle">
				<img src="/themes/frontend/images/request2.jpg" alt="" class="social-connections-profile-img img-circle">
				<img src="/themes/frontend/images/user.jpg" alt="" class="social-connections-profile-img img-circle">
				<img src="/themes/frontend/images/user1.jpg" alt="" class="social-connections-profile-img img-circle">
				<img src="/themes/frontend/images/request4.jpg" alt="" class="social-connections-profile-img img-circle">
			</a>
		</div>
	</div>
	<% if(req.user.referral){ %>
		<div class="p16_sidebar">
			Referral Code: <strong><a href="/referral/used" id="text_element"><%= RefferalCode.displayReferral({ code: req.user.referral }) %></a></strong>
			&nbsp;<a href="javascript:;" onclick="copyToClipboard('text_element')"><i class="fa fa-clone" aria-hidden="true"></i></a>
			<input type="hidden" id="referral_code" class="copyReferralCode" value="<%= req.user.referral %>" />
		</div>
		<script>
			function copyToClipboard(elementId) {
				// Create an auxiliary hidden input
				var aux = document.createElement("input");
				// Get the text from the element passed into the input
				var copy_url = '<%=sails.config.appUrlwPort%>/?ref=';
				copy_url = copy_url+document.getElementById(elementId).innerHTML;

				aux.setAttribute("value",copy_url);
				// Append the aux input to the body
				document.body.appendChild(aux);
				// Highlight the content
				aux.select();
				// Execute the copy command
				document.execCommand("copy");
				// Remove the input from the body
				document.body.removeChild(aux);
				$.bootstrapGrowl("Referral Code is copied", {type: 'success', delay: 1000});
			}
		</script>
	<% } %>
	<div class="p16_sidebar last">
		<div class="p16_sidebar_1005">You may have more contacts to connect with</div>
		<div class="p16_sidebar_1006 form-group"><input class="form-control invitation_email" name="invitation_email" placeholder="Email to Invite" type="email"></div>
		<div class="p16_sidebar_1007"><button type="button" class="btn-primary sent_email_invitation btn-left">Send Invitation</button><!-- <span>or</span><a href="/import-from-mail"><button type="button" class="btn-primary btn-right">Import from email</button></a> -->
		</div>
	</div>
</div>
<script>
	 $('.sent_email_invitation').click(function(){
		var email_id = $('.invitation_email').val();
        var formData = {
			email:email_id
		};
		if(email_id==''){
			$('.invitation_email').focus();
			$.bootstrapGrowl('Please enter email address', {type: 'danger', delay: 1000,align: 'center'});
			return false;
		}
		if(!isEmail(email_id)){
			$('.invitation_email').focus();
			$.bootstrapGrowl('Please enter valid email address', {type: 'danger', delay: 1000,align: 'center'});
			return false;
		}
        $.ajax({
            type: 'POST',
            url: '/send-email-invitation',
            data:  formData,
            success: function (response)
            {
                if (response.status=='OK')
                {
                    $.bootstrapGrowl(response.msg, {type: 'success', delay: 1000});
					$('.invitation_email').val('');
                   // setTimeout(function() { location.reload(); }, 1000);
                } else
                {
                    $.bootstrapGrowl(response.msg, {type: 'danger', delay: 1000});
                }
            }
        });     
	});
	
	function isEmail(email) {
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		return regex.test(email);
	}
</script>