<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	<div class="p9_left_sidebar">
		<ul class="p9_ls_1001">
			<li class="first <%if (req.path == '/polls') { %>active<% } %>">
				<a href="/polls">List My Polls</a><span class="open"></span>
			</li>
			<li class="last <%if (req.path == '/polls/create') { %>active<% } %>">
				<a href="/polls/create">Create Poll</a>
			</li>
		</ul>
	</div>
	<div class="a-center paddtb20">
		<!-- <a href=""><img class="sepb20 img-full-lg img-full-md img-full-sm" src="/themes/frontend/images/ads-250x250.png" alt="google ad 250x250" width="250" height="250" /></a>
		<a href=""><img class="sepb20 img-full-lg img-full-md img-full-sm" src="/themes/frontend/images/ads-250x250.png" alt="google ad 250x250" width="250" height="250" /></a> -->
		<div class="embed-responsive embed-responsive-16by9" style="height: 300px;">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gW6hApb0gpI?rel=0" height="300" allowfullscreen ></iframe>
        </div>
        <br>
        <div class="embed-responsive embed-responsive-16by9" style="height: 300px;">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9MH75NNRfsw?rel=0" height="300" allowfullscreen ></iframe>
        </div>
	</div>
</div>