<section class="testimonial-main">
	<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div id="client-testimonial-slider" class="owl-carousel"> 
				<div class="item">
					<div class="carousal-item-inner">
						<div class="product-cover">
							<div class="author-detail">
								<div class="author-img">
									<img src="/themes/frontend/images/tushar.jpg" alt="" />
								</div>
								<div class="author-name">
									<h4><a href="javascript:;">Tushar Raj <img src="/themes/frontend/images/sociallink.png" width="19"></a></h4>
									<p>Asst. Vice President</p>
									<p>Equitas Bank, India</p>
								</div>
							</div>
							<p>Lynked.World's Digital Id on blockchain is going to simplfy the way we do transactions in day-to-day life.</p>
						</div>
					</div>  
				</div>
				<div class="item">
					<div class="carousal-item-inner">
						<div class="product-cover">
							<div class="author-detail">
								<div class="author-img">
									<img src="/themes/frontend/images/irina.jpg" alt="" />
								</div>
								<div class="author-name">
									<h4><a href="javascript:;">Irina <img src="/themes/frontend/images/sociallink.png" width="19"></a></h4>
									<p>Business Solution Specialist</p>
									<p>Germany</p>
								</div>
							</div>
							<p>I really like Lynked.World's  login  feature, login without login ID, Its really amazing, Just scan QR code and its done.</p>
						</div>
					</div>  
				</div>
				<div class="item">
					<div class="carousal-item-inner">
						<div class="product-cover">
							<div class="author-detail">
								<div class="author-img">
									<img src="/themes/frontend/images/gary.jpg" alt="" />
								</div>
								<div class="author-name">
									<h4><a href="javascript:;">Gary Scot <img src="/themes/frontend/images/sociallink.png" width="19"></a></h4>
									<p>Ecommerce Specialist</p>
									<p>Switzerland</p>
								</div>
							</div>
							<p>It really great  having a verified profile stamped by  current and new employers on Lyked.World is undoubtedly  a great addition. It immediately creates  trust between recruiters and employees.It makes life whole lot easier.</p>
						</div>
					</div>  
				</div>
				<div class="item">
					<div class="carousal-item-inner">
						<div class="product-cover">
							<div class="author-detail">
								<div class="author-img">
									<img src="/themes/frontend/images/meenakshi.jpg" alt="" />
								</div>
								<div class="author-name">
									<h4><a href="javascript:;">Meenakshi Mehra <img src="/themes/frontend/images/sociallink.png" width="19"></a></h4>
									<p>Self-employed</p>
									<p>Switzerland</p>
								</div>
							</div>
							<p>I can authenticate a transaction by scanning a QR Code. Really Lynked.World made signing digitally sooo easy..</p>
						</div>
					</div>  
				</div>
				<div class="item">
					<div class="carousal-item-inner">
						<div class="product-cover">
							<div class="author-detail">
								<div class="author-img">
									<img src="/themes/frontend/images/kiran.jpg" alt="Marcy Traylor" />
								</div>
								<div class="author-name">
									<h4><a href="javascript:;">Kiran Singh <img src="/themes/frontend/images/sociallink.png" width="19"></a></h4>
									<p>Director</p>
									<p>Kramtey BV, Netherland</p>
								</div>
							</div>
							<p>I like Lynked.World employment verification engine. Its going to reduce time and cost for the companies and at the same time it will greatly enhance the value of digital profile of the candidates. its really great</p>
						</div> 
					</div>  
				</div>
			</div>
		</div> 
	</div>
</section>