<section class="blog-feed-section">
	<div class="container">
		<div id="feed-slider" class="owl-carousel"> 
			<div class="item">
				<div class="carousal-item-inner">
					<div class="product-cover">
						<div class="author-detail">
							<div class="author-img">
								<img src="/themes/frontend/images/default-user.png" alt="Marcy Traylor" />
							</div>
							<div class="author-name">
								<h4><a href="javascript:;">Gloria <img src="/themes/frontend/images/sociallink.png"></a></h4>
								<span class="post-designation">Business Analyst</span>
								<span class="post-time">Switzerland</span>
							</div>
						</div>
						<div class="img-video-audio">
							<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q1cXlpe3Zdc?rel=0" allowfullscreen></iframe>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="item">
				<div class="carousal-item-inner">
					<div class="product-cover">
						<div class="author-detail">
							<div class="author-img">
								<img src="/themes/frontend/images/default-user.png" alt="Marcy Traylor" />
							</div>
							<div class="author-name">
								<h4><a href="javascript:;">Irina <img src="/themes/frontend/images/sociallink.png"></a></h4>
								<span class="post-designation">Business Solution Specialist</span>
								<span class="post-time">Germany</span>
							</div>
						</div>
						<div class="img-video-audio">
							<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TqAbUsj4jkA?rel=0" allowfullscreen></iframe>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="item">
				<div class="carousal-item-inner">
					<div class="product-cover">
						<div class="author-detail">
							<div class="author-img">
								<img src="/themes/frontend/images/default-user.png" alt="Marcy Traylor" />
							</div>
							<div class="author-name">
								<h4><a href="javascript:;">Antonio Elias da Silva <img src="/themes/frontend/images/sociallink.png"></a></h4>
								<span class="post-designation">SAP/SCM/GATP Consultant</span>
								<span class="post-time">Portugal</span>
							</div>
						</div>
						<div class="img-video-audio">
							<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NhRNqRfaO1o?rel=0" allowfullscreen></iframe>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="item">
				<div class="carousal-item-inner">
					<div class="product-cover">
						 <div class="author-detail">
							<div class="author-img">
								<img src="/themes/frontend/images/default-user.png" alt="" />
							</div>
							<div class="author-name">
								<h4><a href="javascript:;">Gary Scot <img src="/themes/frontend/images/sociallink.png"></a></h4>
								<span class="post-designation">Ecommerce Specialist</span>
								<span class="post-time">Switzerland</span>
							</div>
						</div>
						<div class="img-video-audio">
							<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MYL07ZEfmCQ?rel=0" allowfullscreen></iframe>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="item">
				<div class="carousal-item-inner">
					<div class="product-cover">
						<div class="author-detail">
							<div class="author-img">
								<img src="/themes/frontend/images/default-user.png" alt="Marcy Traylor" />
							</div>
							<div class="author-name">
								<h4><a href="javascript:;">Piergiorgio Cangi <img src="/themes/frontend/images/sociallink.png"></a></h4>
								<span class="post-designation">Business Analyst</span>
								<span class="post-time">Italy</span>
							</div>
						</div>
						<div class="img-video-audio">
							<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aucrx4p4TFU?rel=0" allowfullscreen></iframe>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="item">
				<div class="carousal-item-inner">
					<div class="product-cover">
						<div class="author-detail">
							<div class="author-img">
								<img src="/themes/frontend/images/default-user.png" alt="Marcy Traylor" />
							</div>
							<div class="author-name">
								<h4><a href="javascript:;">Gorica Cancellara <img src="/themes/frontend/images/sociallink.png"></a></h4>
								<span class="post-designation">Test Specialist</span>
								<span class="post-time">Netherlands</span>
							</div>
						</div>
						<div class="img-video-audio">
							<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o-ZZ3drZFFA?rel=0" allowfullscreen></iframe>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
</section>