<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 pull-right">
                <div class="p24_container p9_profile sepb20">
                        <a href="" class="p9_1002"><img src="https://placehold.it/95x95/71CFEB/025ba2" alt="name" height="105" width="105" /></a>
                    <div class="p9_1005">
                        <a class="p9_1010" href="">James Ager</a>
                        <div class="p9_1011">Senior Business Analyst at PAN</div>
                        <div class="p9_1012">Hoofddrop, The Netherlands</div>
                    </div>
                    <button type="button" class="btn btn-primary btn-download" data-toggle="modal" data-target=".download-report-modal-lg" ><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download Report</button>
                </div>
                <div class="p7_301 sepb20">
                    <div class="p7_section_title"><h3>Identification</h3></div>
                    <div class="p7_content">
                        <div id="data_table_wrapper" class="data_table_wrapper data_table">
                            <div class="row pad_20_10">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="p15_3010">
                                        <label for="">Show </label><select id="" name="sort_by" class="form-control"><option value="10">10</option><option value="20">20</option><option value="30">30</option></select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="p15_3011">
                                        <input type="search" class="form-control" id="" placeholder="Type here..." /><label class="p8_label1" for="">Search </label><button type="button" class="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row minus-10-margin-xs">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="upload_history" class="table table-striped dataTable" cellspacing="0" width="100%">
                                            <thead><tr role="row"><th>Date</th><th>Data</th><th>Data Type</th><th>Verify By</th><th>Action</th></tr></thead>
                                            <tbody>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Data</td>
                                                <td>Address</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Passport</td>
                                                <td><a href="">Michele Shaw, +2</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Identification</td>
                                                <td><a href="">Michele Shaw</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Passport</td>
                                                <td><a href="">Michele Shaw</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Passport</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Passport</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row pad_20_10">
                                <div class="col-sm-5 col-xs-12"><div class="showing_number">Showing 1 to 10 of 14 entries</div></div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" id="example_previous"><a href="#" aria-controls="example" data-dt-idx="0" tabindex="0"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                            <li class="paginate_button active"><a href="#" aria-controls="example" data-dt-idx="1" tabindex="0">1</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0">2</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="3" tabindex="0">3</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0">4</a></li>
                                            <li class="paginate_button next" id="example_next"><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p6_pro_1000 sepb20">
                    <div class="page_section_title section_title_button p6_section_title"><div class="stb1"><h3>Educations</h3></div><div class="stb2"><button type="button" class="btn btn-primary btn-primary-sw">ADD</button></div></div>
                    <div class="p24_section_content p6_edu_li p24_edu_li">
                        <div class="p6_sc_1001">
                            <a class="p6_sc_1002 project_img" href=""><img src="/themes/frontend/images/education_icon.png" alt="Education" height="70" width="70" /></a>
                            <div class="p6_sc_1003">
                                <div class="p6_sc_1004 designation">University of Oxford, Oxford OX1 2JD, UK </div>
                                <div class="p6_1005 Branch">Computer Science</div>
                                <div class="p6_1006 period">Jan 2006 - March 2010</div>
                            </div>
                            <button type="button" class="p6_sc_1099"><i class="fa fa-edit" aria-hidden="true"></i> </button>
                        </div>
                        <div class="p6_sc_1001">
                            <a class="p6_sc_1002 project_img" href=""><img src="/themes/frontend/images/education_icon.png" alt="Education" height="70" width="70" /></a>
                            <div class="p6_sc_1003">
                                <div class="p6_sc_1004 designation">University of Oxford, Oxford OX1 2JD, UK </div>
                                <div class="p6_1005 Branch">Computer Science</div>
                                <div class="p6_1006 period">Jan 2006 - March 2010</div>
                            </div>
                            <button type="button" class="p6_sc_1099"><i class="fa fa-edit" aria-hidden="true"></i> </button>
                        </div>
                        <div id="data_table_wrapper" class="data_table_wrapper data_table">
                            <div class="row pad_20_10">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="p15_3010">
                                        <label for="">Show </label><select id="" name="sort_by" class="form-control"><option value="10">10</option><option value="20">20</option><option value="30">30</option></select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="p15_3011">
                                        <input type="search" class="form-control" id="" placeholder="Type here..." /><label class="p8_label1" for="">Search </label><button type="button" class="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row minus-10-margin-xs">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="upload_history" class="table table-striped dataTable" cellspacing="0" width="100%">
                                            <thead><tr role="row"><th>Date</th><th>Data</th><th>Data Type</th><th>Verify By</th><th>Action</th></tr></thead>
                                            <tbody>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Digree Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row pad_20_10">
                                <div class="col-sm-5 col-xs-12"><div class="showing_number">Showing 1 to 10 of 14 entries</div></div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" id="example_previous"><a href="#" aria-controls="example" data-dt-idx="0" tabindex="0"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                            <li class="paginate_button active"><a href="#" aria-controls="example" data-dt-idx="1" tabindex="0">1</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0">2</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="3" tabindex="0">3</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0">4</a></li>
                                            <li class="paginate_button next" id="example_next"><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p6_pro_1000  sepb20">
                    <div class="page_section_title section_title_button p6_section_title"><div class="stb1"><h3>Employment</h3></div><div class="stb2"><button type="button" class="btn btn-primary btn-primary-sw">ADD</button></div></div>
                    <div class="p24_section_content p6_exp_li p24_exp_li">
                        <div class="p6_sc_1001">
                            <a class="p6_sc_1002 project_img" href=""><img src="/themes/frontend/images/professional.png" alt="Servsearch Application Pvt. Ltd." height="70" width="70" /></a>
                            <div class="p6_sc_1003">
                                <div class="p6_sc_1004 designation">Software Engineer  <span class="checked"><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                                <div class="p6_1005 Branch">Servsearch Application Pvt. Ltd.</div>
                                <div class="p6_1006 period">Jan 2017 - Present <span class="blue_dot_mid"> 8 Months</span></div>
                                <div class="p6_1007 loction">Hoofddrop, Netherlands</div>
                            </div>
                            <button type="button" class="p6_sc_1099"><i class="fa fa-edit" aria-hidden="true"></i> </button>
                        </div>
                        <div class="p6_sc_1001">
                            <a class="p6_sc_1002 project_img" href=""><img src="/themes/frontend/images/A.jpg" alt="Servsearch Application Pvt. Ltd." height="70" width="70" /></a>
                            <div class="p6_sc_1003">
                                <div class="p6_sc_1004 designation">Software Engineer  <span class="checked"><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                                <div class="p6_1005 Branch">Servsearch Application Pvt. Ltd.</div>
                                <div class="p6_1006 period">Jan 2017 - Present <span class="blue_dot_mid"> 8 Months</span></div>
                                <div class="p6_1007 loction">Hoofddrop, Netherlands</div>
                            </div>
                            <button type="button" class="p6_sc_1099"><i class="fa fa-edit" aria-hidden="true"></i> </button>
                        </div>
                        <div class="p6_sc_1001">
                            <a class="p6_sc_1002 project_img" href=""><img src="/themes/frontend/images/genny.jpg" alt="Servsearch Application Pvt. Ltd." height="70" width="70" /></a>
                            <div class="p6_sc_1003">
                                <div class="p6_sc_1004 designation">Software Engineer  <span class="checked"><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                                <div class="p6_1005 Branch">Servsearch Application Pvt. Ltd.</div>
                                <div class="p6_1006 period">Jan 2017 - Present <span class="blue_dot_mid"> 8 Months</span></div>
                                <div class="p6_1007 loction">Hoofddrop, Netherlands</div>
                            </div>
                            <button type="button" class="p6_sc_1099"><i class="fa fa-edit" aria-hidden="true"></i> </button>
                        </div>
                        <div id="data_table_wrapper" class="data_table_wrapper data_table">
                            <div class="row pad_20_10">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="p15_3010">
                                        <label for="">Show </label><select id="" name="sort_by" class="form-control"><option value="10">10</option><option value="20">20</option><option value="30">30</option></select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="p15_3011">
                                        <input type="search" class="form-control" id="" placeholder="Type here..." /><label class="p8_label1" for="">Search </label><button type="button" class="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row minus-10-margin-xs">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="upload_history" class="table table-striped dataTable" cellspacing="0" width="100%">
                                            <thead><tr role="row"><th>Date</th><th>Data</th><th>Data Type</th><th>Verify By</th><th>Action</th></tr></thead>
                                            <tbody>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Experience Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            <tr class="even">
                                                <td>10/04/2017</td>
                                                <td>Document</td>
                                                <td>Certificate</td>
                                                <td><a href="">Michele Shaw, +3</a></td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row pad_20_10">
                                <div class="col-sm-5 col-xs-12"><div class="showing_number">Showing 1 to 10 of 14 entries</div></div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" id="example_previous"><a href="#" aria-controls="example" data-dt-idx="0" tabindex="0"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                            <li class="paginate_button active"><a href="#" aria-controls="example" data-dt-idx="1" tabindex="0">1</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0">2</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="3" tabindex="0">3</a></li>
                                            <li class="paginate_button "><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0">4</a></li>
                                            <li class="paginate_button next" id="example_next"><a href="#" aria-controls="example" data-dt-idx="4" tabindex="0"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Sidebar nav verification Starts -->
			<%- partial('../includes/sidebar-nav-verification.ejs') %>
			<!-- Sidebar nav verification Ends -->
        </div>
    </div>
	
    <div class="popup_container modal fade download-report-modal-lg p24_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <div class="pop_up_main_block">
                    <div class="section_block_title">Verify By</div>
                    <div class="section_title"><h3>Document #1 - Passport - <a href="">Mike David</a></h3></div>
                    <div class="slider_container owl-side-narrow">
                        <ul id="slider_p8" class="owl-carousel owl-theme">
                            <li class="itme">
                                <div class="slide_action">
                                    <button class="slide_action1"><i class="fa fa-download" aria-hidden="true" title="Download"></i></button>
                                    <button class="slide_action1"><i class="fa fa-search-plus" aria-hidden="true" title="Zoom"></i></button>
                                </div>
                                <div class="slider_1000">Passport</div>
                                <div class="verified_time"><i class="fa fa-calendar" aria-hidden="true"></i> Uploaded Date : 10/04/2017</div>
                            </li>
                            <li class="itme">
                                <div class="slider_1000">Passport2</div>
                                <div class="verified_time"><i class="fa fa-calendar" aria-hidden="true"></i> Uploaded Date : 10/04/2017</div>
                            </li>
                            <li class="itme">
                                <div class="slider_1000">Passport3</div>
                                <div class="verified_time"><i class="fa fa-calendar" aria-hidden="true"></i> Uploaded Date : 10/04/2017</div>
                            </li>
                        </ul>
                    </div>
                    <div class="p8_v_1000">
                        <div class="p8_v_1000_title">Verified By</div>
                        <div class="p8_v_1000_li">
                            <div class="p8_1001">
                                <img class="p8_1001_img" src="https://placehold.it/95x95/71CFEB/025ba2" alt="John Doe" width="65" height="65">
                                <div class="p8_1001_content">
                                    <div class="p18_1001_user"><a href="">Michele Show</a></div>
                                    <div class="p18_1001_dated">10/01/2017</div>
                                </div>
                            </div>
                            <div class="p8_1002">
                                <div class="p8_1002_description"><b>Blockchain Txn no.</b> - <a href="">dsfsdgfg123ds1g3ds1g3fdg3fsd1g3</a> | <a href="/compare-data" target="_blank"><i class="fa fa-clone" aria-hidden="true"></i> Compare with Blockchain Data</a></div>
                                <div class="p8_1002_description">
                                    <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuad.</p>
                                </div>
                            </div>
                        </div>
                        <div class="p8_v_1000_li">
                            <div class="p8_1001">
                                <img class="p8_1001_img" src="https://placehold.it/95x95/71CFEB/025ba2" alt="John Doe" width="65" height="65">
                                <div class="p8_1001_content">
                                    <div class="p18_1001_user"><a href="">Michele Show</a></div>
                                    <div class="p18_1001_dated">10/01/2017</div>
                                </div>
                            </div>
                            <div class="p8_1002">
                                <div class="p8_1002_description"><b>Blockchain Txn no.</b> - <a href="">dsfsdgfg123ds1g3ds1g3fdg3fsd1g3</a> | <a href="/compare-data" target="_blank"><i class="fa fa-clone" aria-hidden="true"></i> Compare with Blockchain Data</a></div>
                                <div class="p8_1002_description">
                                    <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                </div>
                            </div>
                        </div>
                        <div class="p8_v_1000_li">
                            <div class="p8_1001">
                                <img class="p8_1001_img" src="https://placehold.it/95x95/71CFEB/025ba2" alt="John Doe" width="65" height="65">
                                <div class="p8_1001_content">
                                    <div class="p18_1001_user"><a href="">Michele Show</a></div>
                                    <div class="p18_1001_dated">10/01/2017</div>
                                </div>
                            </div>
                            <div class="p8_1002">
                                <div class="p8_1002_description"><b>Blockchain Txn no.</b> - <a href="">dsfsdgfg123ds1g3ds1g3fdg3fsd1g3</a> | <a href="/compare-data" target="_blank"><i class="fa fa-clone" aria-hidden="true"></i> Compare with Blockchain Data</a></div>
                                <div class="p8_1002_description">
                                    <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>