<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="p9_left_sidebar">
        <ul class="p9_ls_1001">
            <li class="first <%=(activepage=='edit')?'active':''%>"><a href="/profile/edit/">Basic Info</a><span class="open"></span></li>
            <li class="<%=(activepage=='privacy')?'active':''%>"><a href="/profile/privacy">Privacy</a></li>
            <li class="<%=(activepage=='changePassword')?'active':''%>"><a href="/change-password">Change Password</a></li>
            <li class="last <%=(activepage=='closeAccount')?'active':''%>"><a href="/close-account">Closing Your Account</a></li>
        </ul>
    </div>
</div>
