<div id="profilePicModalPopovers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <link rel="stylesheet" href="\themes\frontend\js\croppie\croppie.css" />
                <script src="\themes\frontend\js\croppie\croppie.js"></script>
                <input type="hidden" name="is_upload_profile" id="is_upload_profile" value="0">

                    <div class="modal-header">Profile image update</div>
                    <div class="resize-crop">
                        <div class="row">
                            <div class="col-md-12 text-center">                                    
                                <div id="upload-demo"></div>
                                <label class="p9_1003 p9_1003_file_upload" for="upload"><i class="fa fa-camera" aria-hidden="true"></i>Select image</label> &nbsp;&nbsp;
                                <label class="p9_1003 p9_1003_file_upload remove_profile_image" for="remove"><i class="fa fa-times-circle" aria-hidden="true"></i>Remove image</label>
                                <label class="vanilla-rotate p9_1003 p9_1003_file_upload" data-deg="-90" ><i class="fa fa-rotate-left" aria-hidden="true"></i>Rotate Left</label>
                                <label class="vanilla-rotate p9_1003 p9_1003_file_upload" data-deg="90"><i class="fa fa-rotate-right" aria-hidden="true"></i>Rotate Right</label>
                            </div>
                            <div class="col-md-4 hide" style="padding-top:30px;">
                                <strong>Select Image:</strong>
                                <br/>
                                <input clsss="hide" type="file" id="upload" accept="image/*">
                                <br/>
                                <!--<button class="btn btn-success upload-result">Upload Image</button>-->
                            </div>
                      </div>
                    </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-primary upload-result">Upload</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>
<style>
    .p9_1003_file_upload{
        bottom: 5px;
        width: 136px;
        height: 30px;
        background: #025ba2;
        border-radius: 30px;
        line-height: 30px;
        color: white;
        z-index: 10;
        padding: 0px 8px;
    }
    .p9_1003_file_upload i {
        margin-right: 10px;
    }
    .resize-crop {
        padding-top: 10px;
    }
</style>
<script>
    $('#is_upload_profile').val(0);
    $uploadCrop1 = $('#upload-demo').croppie({
        enableExif: true,
        viewport: {
            width: 200,
            height: 200,
            type: 'circle'
        },
        enableOrientation: true,
        url: "<%=profile_image%>",
        points: [77,469,280,739],
        boundary: {
            width: 300,
            height: 300
        }
    });
    $('.vanilla-rotate').on('click', function(ev) { 
        $uploadCrop1.croppie('rotate', parseInt($(this).data('deg')));
    });
    
    $('#upload').on('change', function () { 
        var reader = new FileReader();
        $('#is_upload_profile').val(0);
        reader.onload = function (e) {
            $('#is_upload_profile').val(1);
            $uploadCrop1.croppie('bind', {
                url: e.target.result
            }).then(function(){
                console.log('jQuery bind complete');
            });
            
        }
        reader.readAsDataURL(this.files[0]);
    });
    
    
    $('.upload-result').on('click', function (ev) {
        $uploadCrop1.croppie('result', {
            type: 'canvas',
            size: 'viewport'
        }).then(function (resp) {
            ajaxindicatorstart('LOADING');

            var is_upload_profile=$('#is_upload_profile').val();
            $.ajax({
                url: "/update_profile_image",
                type: "POST",
                data: {"image":resp,"is_upload_profile":is_upload_profile},
                success: function (data) {
                    if(data.status=='OK'){
                        setTimeout(function() { ajaxindicatorstop();},2000);
                        $.bootstrapGrowl(data.msg, {type: 'success', delay:2000});
                        $('#is_upload_profile').val(0);

                         $("#company-profile").css({"background-image":"url('"+resp+"')"});
                        $('#profilePicModalPopovers').modal('toggle');

                         setTimeout(function() { location.reload(); },2500);
                    }else{
                         ajaxindicatorstop();
                        $.bootstrapGrowl(data.msg, {type: 'danger', delay:2000});
                    }
                }
            });
        });
    });

    $('.remove_profile_image').click(function(){
        var uid      = '<%=req.user.id%>'; 
        if(uid!=''){
            var ajax_url = '/remove_profile_image/'+uid;
            ajax_custom(ajax_url);
        }
    });
    
    function ajax_custom(ajax_url){
        $.ajax({
            url: ajax_url,
            method: 'GET',
            success: function(results)
            {
                if(results.status=='OK'){
                    $.bootstrapGrowl(results.msg, {type: 'success', delay: 1000});
                    setTimeout(function() { location.reload(); }, 1000);
                }
                else{
                    $.bootstrapGrowl(results.msg, {type: 'danger', delay: 1000});
                }
            }
        });
    }
</script>