<div class="p51_feed p12_job_search">
        <hr style="margin-top: 0;">
        <div class="clearfix"></div>
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MR5k1jCN1BE?rel=0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V8EuriMb-d4?rel=0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>