<style type="text/css">
	.awards h2, .awards h3 {
		color: #fff;
	}
	.awards h2.award-title {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.awardsby {
		    padding: 60px 0;
    		background: linear-gradient(0deg,rgba(19, 116, 193, 0.79),rgba(19, 116, 193, 0.79)),url('themes/frontend/images/gallery-5.jpeg') center center no-repeat;
    			background-size: cover;
    			background-attachment: fixed;
	}
	.awardsby-images {
		    padding: 60px 0;
    		background: linear-gradient(0deg,rgba(199, 75, 193, 0.54),rgba(199, 116, 75, 0.54)),url('themes/frontend/images/gallery-5.jpeg') center center no-repeat;
    			background-size: cover;
    			background-attachment: fixed;
	}
	.collage {
		    padding: 60px 0;
    		background: url('themes/frontend/images/collage.jpg') center center no-repeat;
    			background-size: cover;
    			background-attachment: fixed;
    			min-height: 768px;
	}
	.event-calender {
		    padding: 60px 0;
    		background: linear-gradient(0deg,rgba(19, 116, 193, 0.79),rgba(19, 116, 193, 0.79)),url('themes/frontend/images/event-calender-bg.jpg') center center no-repeat;
    			background-size: cover;
    			background-attachment: fixed;
	}
	/*.page {
	  overflow: hidden;
	  padding-bottom: 60px;
	}
	.scroll_1 {
		overflow: scroll;
	}
	.scroll_1::-webkit-scrollbar { 
	    display: none; 
	}*/
	/*::-webkit-scrollbar { 
	    display: none; 
	}*/
	.event-calender::-webkit-scrollbar { width: 0 !important }
	.event-calender { -ms-overflow-style: none; }
	.event-calender { overflow: -moz-scrollbars-none; }
	.awardsby-images::-webkit-scrollbar { width: 0 !important }
	.awardsby-images { -ms-overflow-style: none; }
	.awardsby-images { overflow: -moz-scrollbars-none; }

	.btn-vertical-slider, .btn-vertical-slider1 { 
		background: #ecf5f7;
		border: 1px solid #c2e1e7;
		width: 40px;
		height: 40px;
		border-radius: 40px;
		line-height: 38px;
		color: #025ba2; cursor:pointer;
		font-size: 14px;
    	text-align: center;
	}
	a {  cursor:pointer;}
	.carousel.vertical .carousel-inner .item {
	  -webkit-transition: 0.9s ease-in-out top;
	     -moz-transition: 0.9s ease-in-out top;
	      -ms-transition: 0.9s ease-in-out top;
	       -o-transition: 0.9s ease-in-out top;
	          transition: 0.9s ease-in-out top;
	}

	 .carousel.vertical .active {
	  top: 0;
	}

	 .carousel.vertical .next {
	  top: 100%;
	}

	 .carousel.vertical .prev {
	  top: -100%;
	}

	 .carousel.vertical .next.left,
	.carousel.vertical .prev.right {
	  top: 0;

	}

	 .carousel.vertical .active.left {
	  top: -100%;
	}

	 .carousel.vertical .active.right {
	  top: 100%;
	}

	 .carousel.vertical .item {
	    left: 0;
	}​
	#eventCarousel .item {
		margin-top: -50px;
	}
	.aws {
		height: 250px;
		margin:0 auto;
	}
</style>
<div class="clearfix"></div>
<!-- Left Sidebar -->
<div class="middle-content awards business-solution">
	<section class="awardsby">
		<div class="container">
			<div class="col-md-4 col-xs-12">
				<img src="/themes/frontend/images/awward3.png" class="img-responsive aws">
						<br>
				<img src="/themes/frontend/images/award-img1.png" class="img-responsive">
			</div>
			<div class="col-md-4 col-xs-12">
				<img src="/themes/frontend/images/awward2.png" class="img-responsive aws">
						<br>
				<img src="/themes/frontend/images/award-img2.png" class="img-responsive">
			</div>
			<div class="col-md-4 col-xs-12">
				<img src="/themes/frontend/images/awward1.png" class="img-responsive aws">
						<br>
				<img src="/themes/frontend/images/award-img3.png" class="img-responsive">
			</div>
			<div class="clearfix"></div>
			<br>
			<h2 class="text-center">Awarded By</h2>
			<div class="col-md-6 col-md-offset-3 col-xs-12">
				<img src="/themes/frontend/images/times-ascent.jpeg" class="img-responsive">
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
	<section class="awardsby-images" style="padding: 0;">
		<div class="container">
	        <div id="" class="col-md-12">
                <div class="row" style="padding: 60px 0;">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center text-uppercase award-title">Most innovative deployment of hr technology</h2>
						<div class="col-md-6">
							<img src="/themes/frontend/images/awward3.png" class="img-responsive">
						</div>
						<div class="col-md-6">
							<img src="/themes/frontend/images/gallery-7.jpeg" class="img-responsive">
						</div>
					</div>
                </div>
                <!--/row-fluid-->
                <div class="row" style="padding-bottom: 60px;">
            		<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center text-uppercase award-title">Hr tech project of the year</h2>
						<div class="col-md-6">
							<img src="/themes/frontend/images/awward2.png" class="img-responsive">
						</div>
						<div class="col-md-6">
							<img src="/themes/frontend/images/gallery-8.jpeg" class="img-responsive">
						</div>
					</div>        
                </div>
                <!--/row-fluid-->
                <div class="row" style="padding-bottom: 60px;">
                	<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center text-uppercase award-title">Best use of social media</h2>
						<div class="col-md-6">
							<img src="/themes/frontend/images/awward1.png" class="img-responsive">
						</div>
						<div class="col-md-6">
							<img src="/themes/frontend/images/gallery-9.jpeg" class="img-responsive">
						</div>
					</div>    
                </div>
                <!--/row-fluid-->
	        </div>
	    </div>
	</section>	
	<div class="clearfix"></div>
	<section class="collage">
		<div class="collage-photo">&nbsp;</div>
	</section>
	<div class="clearfix"></div>
	<%- partial('../includes/calender.ejs') %>

</div>

