<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">
<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">Contact Us</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"" >
					<div class="static-pages">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
							<p class="text-center">
								<img src="themes/frontend/images/lynkedworld-sign.png" class="img-responsive center-block" width="100"><br>
								<span class="main-text"><b>Our mission</b> is to provide <b>a secure platform</b> for individuals and institutions to own, control and share <b>digitally trusted identity</b>.</span><br><br>
							</p>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<p><b class="topic-title">Send Your Message</b><br></p>
								<form role="form" id="contact-form">
				    				<div class="form-group">
										<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
									</div>
									<!-- <div class="form-group">
										<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
									</div> -->
									<div class="form-group">
										<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
									</div>
				                    <div class="form-group">
				                    	<textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
				                    </div>
						        <button type="button" id="submit" name="submit" class="btn btn-primary">Send</button>
						        </form>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<p class="text-justify">
									<b class="topic-title">Contact</b><br>
									<!-- <b class="topic-title">Address</b><br>
									<p><span>Reina Prinsen Geerligsdreef<span><br>
									<span>89, 2135 HS Hoofddrop,</span><br>
									<span>The Netherlands</span><br><br>  -->
									<span>Email: <a href="mailto:info@lynked.world">info@lynked.world</a></span><br> 
									<!-- <span>tel: <a href="tel:+31623340683">+31 623 340 683</span> -->
								</p>
							</div>
						</div>
						<div class="clearfix"><br></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
