<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">

<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">Cookie Policy</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"" >
					<div class="static-pages">
						<p>
							At <a href="https://lynked.world/"><b>Lynked.World</b></a>, we believe in being clear and open about how we collect, and use data related to you. In the spirit of transparency, this policy provides detailed information about how and when we use cookies. This cookie policy applies to any Lynked.World service that links to this policy or incorporates it by reference.
						</p><br>
						<p>
							<b class="topic-title">Does Lynked.World use cookies?</b><br>
							Yes, we use cookies and similar technologies to ensure everyone who uses Lynked.World has better, faster, and safer possible experience. By continuing to visit or use our services, you are agreeing to the use of cookies and similar technologies for the purposes we describe in this policy.
						</p><br>
						<p class="special">
							<b class="topic-title">What is a cookie?</b><br>
							Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other information on computers, phones, and other devices. Other technologies, including data we store on your web browser or device, identifiers associated with your device, and other software, are used for similar purposes. For example, cookies enable us to identify your device, secure your access to Lynked.World and our sites generally, and even help us know if someone attempts to access your account from a different device. It does not harm user computer and does not affect data store in user computer. Cookies also enable you to easily share content on Lynked.World and help us serve relevant information to you.
						</p><br>
						<p class="special">
							<b class="topic-title">When does Lynked.World place cookies?</b><br>
							We use cookies on our sites Lynked.World and mobile applications. Any browser visiting the sites will receive cookies from us. We also place cookies in your browser when you visit non-Lynked.World sites that host our plugins or tags.
						</p><br>
						<p>
							<b class="topic-title">What types of cookies does Lynked.World use?</b><br>
							We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it's easier to return to Lynked.World or interact with our services without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by Lynked.World when you return to one of our sites or a partner site that uses our services (for example, our sharing or job application buttons). Session cookies only last for as long as the session (usually the current visit to a website or a browser session).
						</p><br>
						<p>
							<b class="topic-title">What are cookies used for?</b><br>
							Cookies are used to recognize you when you visit Lynked.World, remember your preferences, and give you a personalized experience that's in line with your settings. <u>Cookies</u> also make your interactions with Lynked.World faster and more secure. While the cookies that we use may change from time to time as we improve and update the Lynked.World Services, they generally fall into the below categories of use:
							<br><br>
							<small class="topic-subtitle"><b>- Authentication</b></small><br>
							<span>We use cookies to verify your account and determine when you’re logged in, so we can make it easier for you to access the Lynked.World Services and show you the appropriate experience and features.</span><br><br>
							<span><i>For example</i>: We use cookies to keep you logged in as you navigate between Lynked.World pages. </span><br><br>
							<span>Cookies also help us remember your browser, so you do not have to keep logging into Lynked.World and so you can more easily log into Lynked.World via third-party apps and websites.</span>
							<br><br>
							<small class="topic-subtitle"><b>- Security, site and product integrity</b></small><br>
							<span>We use cookies to help us keep your account, data and the Lynked.World Services safe and secure.</span><br><br>
							<span><i>For example</i>: Cookies can help us identify and impose additional security measures when someone may be attempting to access a Lynked.World account without authorization, for instance, by rapidly guessing different passwords. We also use cookies to store information that allows us to recover your account in the event you’ve forgotten your password or to require additional authentication if you tell us your account has been hacked. </span><br><br>
							<span>We also use cookies to combat activity that violates our policies or otherwise degrades our ability to provide the Lynked.World Services. </span><br><br>
							<span><i>For example</i>: Cookies help us fight spam and phishing attacks by enabling us to identify computers that are used to create large numbers of fake Lynked.World accounts. We also use cookies to detect computers infected with malware and to take steps to prevent them from causing further harm. Cookies also help us prevent underage people from registering for Lynked.World accounts. </span>
							<br><br>
							<small class="topic-subtitle"><b>- Advertising, insights and measurement</b></small><br>
							<span>We use cookies to help us show ads for businesses and other organizations to people who may be interested in the products, services or causes they promote.</span><br><br>
							<span><i>For example</i>: Cookies allow us to help deliver ads to people who have previously visited a business’s website, purchased its products or used its apps. Cookies also allow us to limit the number of times that you see an ad so you don’t see the same ad over and over again. </span><br><br>
							<span>We also use cookies to help measure the performance of ad campaigns for businesses that use the Lynked.World Services. </span><br><br>
							<span><i>For example</i>: We use cookies to count the number of times an ad is shown and to calculate the cost of those ads. We also use cookies to measure how often people do things like click on or view ads. </span>
							<br><br>
							<span>Cookies help us serve and measure ads across different browsers and devices used by the same person.</span><br><br>
							<span><i>For example</i>: We can use cookies to prevent you from seeing the same ad over and over again across the different devices that you use. </span><br><br>
							<span>Cookies also allow us to provide insights about the people who use the Lynked.World Services, as well as, the people who interact with the ads, websites, and apps of our advertisers and the businesses that use the Lynked.World Services. </span><br><br>
							<span><i>For example</i>: We use cookies to help businesses understand the kinds of people who like their Lynked.World page or use their apps so they can provide more relevant content and develop features that are likely to be interesting to their customers. </span>
							<br><br>
							<small class="topic-subtitle"><b>- Site features and services</b></small><br>
							<span>We use cookies to enable the functionality that helps us provide the Lynked.World Services.</span><br><br>
							<span><i>For example</i>: Cookies help us store preferences, know when you’ve seen or interacted with Lynked.World Services’ content, and provide you with customized content and experiences.</span>
							<br><br>
							<small class="topic-subtitle"><b>- Performance</b></small><br>
							<span>We use cookies to provide you with the best experience possible.</span><br><br>
							<span><i>For example</i>: Cookies help us route traffic between servers and understand how quickly Lynked.World Services load for different people. Cookies also help us record the ratio and dimensions of your screen and windows and know whether you’ve enabled high contrast mode, so that we can render our sites and apps correctly.</span>
							<br><br>
							<small class="topic-subtitle"><b>- Analytics and research</b></small><br>
							<span>We use cookies to better understand how people use the Lynked.World Services so that we can improve them.</span><br><br>
							<span><i>For example</i>: Cookies can help us understand how people use the Lynked.World Service, analyze which parts of the Lynked.World Services people find most useful and engaging, and identify features that could be improved.</span><br><br>
						</p>
						<p>
							<b class="topic-title">How are cookies used for advertising purposes?</b><br>
							<span>We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it's easier to return to Lynked.World or interact with our services without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by Lynked.World when you return to one of our sites or a partner site that uses our services (for example, our sharing or job application buttons). Session cookies only last for as long as the session (usually the current visit to a website or a browser session).</span><br><br>
							<span>If you are logged in on Lynked.World Service that references this Cookie Policy or browsing a third-party partner site of Lynked.World and one of our cookies on your device identifies you, your usage (such as your browsing behavior) and log data (such as your IP address), will be associated by us with your account. We also use aggregate data from third parties and data from your profile and Lynked.World activity.</span><br><br>
							<span>If you are a Lynked.World member but logged out of your account on a browser, Lynked.World may continue to log your interaction with our services on that browser for up to 30 days in order to generate usage analytics for our services, which analytics we may share in aggregate form with our advertising customers.</span><br><br>
							<span>Unless you clear these cookies from your browser, we may use this information to:</span><br>
						</p>
						<ul class="static-listing">
							<li>provide more relevant, interest-based advertising</li>
							<li>provide aggregate reports of ads activity to advertisers and websites hosting the ads</li>
							<li>help website and app owners understand how visitors engage with their sites or apps</li>
							<li>detect and defend against fraud and other risks to protect users and partners</li>
							<li>improve our products</li>
						</ul><br>
						<p>
							<b class="topic-title">What to do if you don't want cookies to be set or want them to be removed?</b><br>
							<span>If you don't want us to use cookies when you visit Lynked.World, you can opt-out of some cookies on your settings page. In order for us to recognize that you have opted out of cookies, we have to place our Lynked.World opt-out cookie on your device so we can know not to set other Lynked.World cookies the next time you visit. If you do not want to receive cookies, you can also change your browser settings on your computer or other device you're using to access our services. In order to understand these settings, the following links may be helpful. Otherwise you should use the 'Help' option in your browser for more details.</span><br>
						</p>
						<ul class="static-listing">
							<li><a href="https://support.apple.com/en-in/HT201265" target="_blank">Cookie settings in Safari</a></li>
							<li><a href="https://support.google.com/chrome/?hl=en&amp;answer=95647#topic=7438008" target="_blank">Cookie settings in Chrome</a></li>
							<li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies" target="_blank">Cookie settings in Firefox</a></li>
							<li><a href="https://support.microsoft.com/en-us/help/196955/how-to-set-and-customize-cookies-settings-in-internet-explorer-5" target="_blank">Cookie settings in Internet Explorer</a></li>
						</ul><br>
						<p>
							<span>If you use Lynked.World without changing your browser settings, we'll assume that you're happy to receive all cookies on the Lynked.World website. Most browsers also provide functionality that lets you review and erase cookies, including Lynked.World cookies. Please note that the Lynked.World site will not work properly without cookies.</span><br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
