<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">

<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">FAQ</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"" >
					<div class="static-pages">
						<p>
							<b class="topic-title">What is Lynked.World?</b><br>
							<span>Lynked.World is a platform built upon Blockchain Technology where user can digitally verify their personal, educational and professional information through peer to peer network. The platform enables users to control their digital information and share directly with prospective employers, institutions and businesses securely. It removes the redundancy of same data verification multiple times. Data verified once can be reused. </span><br><br>
							<span>It’s also a platform for millions of people to find jobs and thousands of employers to hire the talent with pre-verified credentials and employment history. </span><br><br>
						</p>
						<p>
							<b class="topic-title">Why should you be on Lynked.World?</b><br>
							<span>Our current world of sharing identity and background verification is time consuming, costly and error prone. We provide simple, secure and trusted platform for individuals and institutions to own, control and share <b><i>digitally trusted identity. It’s the future of identity management.</i></b></span><br><br>
							<span>Once you build your digital identity you can reuse it at multiple place like Bank, Airport, University. Your identity and information are digitally verified for once and all. No need to repeat the verification of same data multiple times. You own your data and you control the use of it using Lynked.World app to institution and organization. </span><br><br>
						</p>
						<p>
							<b class="topic-title">What social problem Lynked.World is trying to solve?</b><br>
							<span>We are trying to solve the social problem of identity theft, CV fraud, degree fraud costly and time-consuming background verification process.  Today companies spend around 30% of money in identity and background verification. Educational institution has to certify/re-certify the certification and degrees again and again. Through Lynked.World we solve this problem. We eliminate this redundancy of this data verification. Data is verified once and for all and verification information is stored in blockchain via smart contract. Once user’s identity, job experiences, degrees/certifications are verified, it will be marked verified in our website. When required by employer, they can provide the data which is already verified.</span><br><br>
						</p>
						<p>
							<b class="topic-title">Does Lynked.World keep copies of verified documents?</b><br>
							<span>No. Lynked.World does not keep any personal documents. Those are kept in user’s personal device. When requested, user will provide the digitally verified document to the requestor by scanning requestor’s QR Code.</span><br><br>
						</p>
						<p>
							<b class="topic-title">How Lynked.World claims that it is verified and trusted network?</b><br>
							<span>Through Ethereum blockchain architecture and biometrics on the mobile device, our platform provides multi-factor authentication without a username, password, third-party authenticator, or physical hardware token. </span><br><br>
						</p>
						<p>
							<b class="topic-title">What is blockchain?</b><br>
							<span>Blockchain is a decentralized and distributed digital ledger to record transaction in multiple computers that cannot be altered. </span><br><br>
						</p>
						<p>
							<b class="topic-title">What is Smart Contract? </b><br>
							<span>Smart contracts are the account object holdings on Ethereum blockchain. Smart contracts help you exchange money, property, shares, or anything of value in a transparent, conflict-free way while avoiding the services of a middleman. </span><br><br>
						</p>
						<p>
							<b class="topic-title">What is the process of registering an organization/Institution/university? </b><br>
							<span>Universities/Organizations can build their digital application by calling our API. Applicants can attach digitally verified documents which were already verified. The application form will be digitally signed with the digitally verified identity. There is no chance of forgery or telling lie.</span><br><br>
						</p>
						<p>
							<b class="topic-title">What is the verification process and how it works?</b><br>
							<span><a href="https://youtu.be/gW6hApb0gpI" target="_blank">Click here to see video.</a></span><br><br>
						</p>
						<p>
							<b class="topic-title">How much does it cost to verify a document?</b><br>
							<span>It free for everyone .</span><br><br>
						</p>
						<p>
							<b class="topic-title">Does Lynked.World keep personal data on its own database?</b><br>
							<span>No. Personal data are kept on user’s personal device.</span><br><br>
						</p>
						<p>
							<b class="topic-title">Is Lynked.World secure?</b><br>
							<span>Lynked.World never access any user personal data. Perhaps it is illegal in many countries to store personal data. User’s private keys that are created for each verified identity stored with Lynked.World. Unless the private keys matches, identity cannot be established.</span><br><br>
						</p>
						<p>
							<b class="topic-title">How am I benefited with the verified document? Can you provide some sample use case?</b><br>
							<span>Best case scenario is – When a job seeker apply for a job his/her identity, educational qualification, job experiences are already verified. Thus saving time and money for both employer and job seekers for which a unique key is already stored in blockchain. When employer request to see any document, it can be shared in a secure way via QR code or biometric scanning or user passcode from user’s mobile device.</span><br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
