
<style type="text/css">
	hr {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.p12_job_search .p12_f30 {
		padding: 20px 20px 20px 20px;
	}
	.p12_content li .input_check {
		padding: 0;
	}
</style>
<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content search-job">
    <div class="container">
        <div class="row">
			
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="p9_left_sidebar">
                    <div class="post-job-button">
                        <button type="button" class="gradient-btn"><b><i class="fa fa-pencil-square-o"></i> &nbsp;Post Job</b></button>
                    </div>
                    <div class="p51_sidebar">
                        <div class="p51_title_container"> <a href="JavaScript:;">Job Type </a><span class="closed"></span></div>
                        <div class="p51_content" style="display: block;">
                            <dd class="p12_content odd">
                                <ol id="p12_job_type">
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Full-Time <span>(487)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Contract <span>(35)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Part-Time <span>(25)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Fresher <span>(76)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Intership <span>(6)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Walk-In <span>(6)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Commission <span>(74)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Temprorary <span>(83)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Volunteer <span>(1)</span></a></label></li>
                                </ol>
                            </dd>
                        </div>
                    </div>
                    <div class="p51_sidebar">
                        <div class="p51_title_container"> <a href="JavaScript:;">Job by Experience </a><span class="closed"></span></div>
                        <div class="p51_content" style="display: block;">
                            <dd class="p12_content odd">
                                <ol id="p12_job_experience">
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Less than 1 year <span>(487)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">1 to 2 Years <span>(35)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">2 to 5 Years <span>(25)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">5 to 7 Years <span>(76)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">7 to 10 Years <span>(6)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" checked="checked" value="" type="checkbox"><a title="filter_title_here">10  to 15 Years <span>(6)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">More than 15 Years <span>(74)</span></a></label></li>
                                </ol>
                            </dd>
                        </div>
                    </div>
                    <div class="p51_sidebar">
                        <div class="p51_title_container"> <a href="JavaScript:;">Date Posted </a><span class="closed"></span></div>
                        <div class="p51_content" style="display: block;">
                            <dd class="p12_content odd">
                                <ol id="p12_job_posted">
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Past 24 Hours <span>(487)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Past Week <span>(35)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Past Month <span>(25)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Any Time <span>(76)</span></a></label></li>
                                </ol>
                            </dd>
                        </div>
                    </div>
                    <div class="p51_sidebar">
                        <div class="p51_title_container"> <a href="JavaScript:;">By Salary </a><span class="closed"></span></div>
                        <div class="p51_content" style="display: block;">
                            <dd class="p12_content odd">
                                <ol id="p12_job_salary">
                                    <li class=""><label><input name="tile_type" class="input_check" checked="checked" value="" type="checkbox"><a title="filter_title_here">All <span>(487)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Less than 1 Lac <span>(2)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">1 to 2 Lacs <span>(42)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">2 to 5 Lacs <span>(4)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">5 to 7 Lacs <span>(76)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">7 to 10 Lacs <span>(24)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">10 to 15 Lacs <span>(12)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">More than 15 Lacs <span>(52)</span></a></label></li>
                                    <li class=""><label><input name="tile_type" class="input_check" value="" type="checkbox"><a title="filter_title_here">Not Specified <span>(4)</span></a></label></li>
                                </ol>
                            </dd>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div class="p51_feed p12_job_search">
                    <div class="p12_f30 row">
						<div class="form-group col-md-4">
							<input class="form-control" placeholder="Keywords" type="text">
						</div>
						<div class="form-group col-md-4">
							<input class="form-control" placeholder="Location" type="text">
						</div>
						<div class="form-group col-md-2">
							<select id="ghm" class="form-control">
                                <option value="">All</option>
                                <option value="">Contract</option>
                            </select>
						</div>
						<div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary">Search</button>
						</div>
					</div>
                    <hr style="margin-top: 0;">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MR5k1jCN1BE?rel=0" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V8EuriMb-d4?rel=0" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12"><h4 class="title-small">Featured Jobs</h4></div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a href="#" class="featured-job">
                                    <div class="company-icon"><img class="p12_f302" src="/themes/frontend/images/A.jpg" alt="" width="65" height="65" class="img-circle"></div>
                                    <div class="job-type">JAVA Developer</div>
                                    <div class="job-company">HCL Technologies</div>
                                    <div class="job-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Ahmednagar, Maharashtra, India </div>
                                    <div class="job-company">Full-Time</div>
                                    <div class="job-desc">HCL America is a multinational IT engineering services organization... </div>
                                    <hr class="no-margin">
                                    <div class="job-post-time"> 4 weeks ago</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p class="a-center"><a href="#"><b><u>See More</u></b></a></p>                    
                </div>
            </div>

        </div>
    </div>
	
	<!-- Client video Section Start -->
	<%- partial('../includes/testimonials-videos.ejs') %>
	<!-- Client video Section End -->

	<!-- Client Text testimonials Section Start -->
	<%- partial('../includes/testimonials-texts.ejs') %>
	<!-- Client Text testimonials Section End -->

</div>
   
<script type="text/javascript">
    $(document).ready(function(){
        $(".middle-content").css({"padding-top":$('.mainnav-main').height() + 35});
	});
</script>