<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">

<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">Privacy Policy</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"" >
					<div class="static-pages">
						<p>
							At <a href="https://lynked.world/"><b>Lynked.World</b></a>, we believe in total transparency on how we collect, store and use data related to you. This Privacy Policy explains how information about you is collected, stored, used and discloses by Lynked.World. This policy applies to information we collect when you access or use our services <a href="https://lynked.world/">https://lynked.world</a> websites, mobile applications and other online services offered by Lynked.World.
						</p><br>
						<p>
							<b class="topic-title">Information User Provide To Us</b><br>
							<span class="topic-subtitle">Account Creation</span><br>
							<span>To create an account, you provide data including your name, login id &amp; password (optional applicable for web version of application).</span><br><br>
							<span class="topic-subtitle">Profile</span><br>
							<span>To complete your Lynked.World profile you may provide us information such as</span><br>
						</p>
						<ul class="static-listing">
							<li>Email address, mailing address & telephone number</li>
							<li>Biographic or demographic data such as your date of birth, gender, photo, language you speak</li>
							<li>Your identity information such as Social Security Number, Aadhar, Passport, Drivers License</li>
							<li>Education, work experience, skills, and endorsements</li>
						</ul><br>
						<p>
							<span class="topic-subtitle">Other Data</span><br>
							<span>You give other data to us, such as when you create a blog, comment on post, respond to a survey or participate in a poll.</span><br><br>
							<span>You and others may post content that includes information about you on our Services (as part of blog posts, feed updates and comments, photos, videos).</span><br><br>
							<span>We receive personal data about you when others import or sync their address book with our Services, or send messages using our Services (including invites or connection requests).</span><br><br>
							<span>We receive personal data about you when you use the Services of our customers and partners, such as prospective employers, job application data etc.</span><br><br>
							<span>When you visit or leave our Services, we receive the URL of both the site you came from and the one you go to next. We also get information about your IP address, proxy server, operating system, web browser and add-ons, device identifier and features, and/or ISP or your mobile carrier. If you use our Services from a mobile device, that device will send us data about your location.</span><br><br>
						</p>
						<p>
							<b class="topic-title">How We Use Your Information</b><br>
							<span>We may use the information we collect from you for various purposes: </span><br>
						</p>
						<ul class="static-listing">
							<li>We use your data to authenticate you and authorize access to our Services.</li>
							<li>Provide the Lynked.World Services and customer support.</li>
							<li>Manage your account(s) and send technical notices, updates, security alerts and support and administrative messages. Please be aware that you cannot opt out of receiving Service messages from us, including security and legal notices. Please be aware that you cannot opt out of receiving Service messages from us, including security and legal notices.</li>
							<li>Your profile can be found by those looking to hire (for a job or a specific task) or be hired by you. We will use your data to recommend jobs, show you and others who work at a company, in an industry, function or location or have certain skills and connections.</li>
							<li>It is possible that we will need to disclose information about you when required by law, subpoena, or other legal process or if we have a good faith belief that disclosure is reasonably necessary. We attempt to notify Members about legal demands for their personal data when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency.</li>
						</ul><br>
						<p>
							<b class="topic-title">Security</b><br>
							<span>Lynked.World implement reasonable security practices and procedures to help protect the confidentiality and security of your information, including any non public personal information. We take appropriate security, administrative, and technical measures to protect any personal identification information you provide regarding the collection, storage, and processing, as well as security measures to protect your User Account against unauthorized access, modification, ​disclosure ​or ​destruction ​of ​your ​personal ​identification ​information, including by limiting access to your information to Lynked.World employees with a need to know such information.</span><br><br>
						</p>
						<p>
							<b class="topic-title">Change to Privacy Policy Agreement</b><br>
							<span>Lynked.World reserves the right to update and/or change the terms of our Privacy Policy. If we make changes, we will notify you by revising the date of Privacy Policy agreement, and in some circumstances, we may provide you with additional notice, including, for example by sending you an email notification. We strongly encourage you to review the Privacy Policy whenever you access or use Lynked.World Services to stay informed about our information practices and your privacy rights and choices.</span><br><br>
						</p>
						<p>
							<b class="topic-title">Acceptance of Terms</b><br>
							<span>Through the use of this website and/or Service, you herby accepting the terms and conditions stipulated within aforementioned Privacy Policy Agreement. If you are not in agreement with our Privacy Policy, then you should refrain from further use of our website and/or Services. In addition, your continued use of our website and/Services following the posting of any updates or changes to Privacy Policy shall mean you are in agreement and acceptance of such changes. You acknowledge, that subsequent use of the Website (or Portal/Platform) or the Services after changes to this Policy will also be considered ​as ​your ​acceptance ​of ​these ​changes.</span><br><br>
						</p>
						<p>
							<b class="topic-title">Postings</b><br>
							<span>Postings related to articles on the c sites are publicly available. You should exercise caution when deciding to disclose any of your personal information in a public posting.  We advise please do not post or add personal data in your post or 
							comments on a post that you would not want to be publicly available. </span><br><br>
							<span>Lynked.World don&#39;t store user personal data. These data are stored permanently on Your mobile devices. </span><br><br>
							<span>When You choose some of information to be public such as Your Name, Location, Education, Certifications, Employment etc. then these detailes would be stored on our server. </span><br><br>
							<span>During data transition while using Lynked.World Services your data may be stored temporally on our server in the encrypted form as it is needed to provide you Services. </span><br><br>
						</p>
						<p>
							<b class="topic-title">Account Closure</b><br>
							<span>If you choose to close your Lynked.World account, your personal data will generally stop being visible to others. We generally delete closed account information within 40 days of account closure, except as noted below. </span><br><br>
							<span>We retain your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes, maintain security, prevent fraud and abuse, enforce our User Agreement etc. We will retain de-personalized information after your account has been closed. </span><br><br>
							<span>Information you have shared with others (e.g., through InMail, message or group posts) will remain visible after you closed your account or deleted the information from your own profile or mailbox, and we do not control data that other Members copied out of our Services. Groups content associated with closed accounts will show an unknown user as the source. Your profile may continue to be displayed in the Services of others (e.g., search engine results) until they refresh their cache. 
							</span><br><br>
							<span>Please note that on Account closure, all your balance reward LBD &amp; Lynk coins present in your wallet would be transferred to Lynked.World reward pool. </span><br><br>
						</p>
						<p>
							<b class="topic-title">Contact us</b><br>
							<span>Lynked.World welcome your questions and suggestions with respect to the implementation or amendment of this Policy. If you have any questions or concerns regarding this Privacy Policy, please contact us at  <a href="mailto:support@lynked.world" target="top"><u>support@lynked.world</u></a></span><br><br>
							<span><b>Effective on April 09, 2018</b></span><br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
