<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">

<div class="clearfix"></div>
<!--Main section section -->
<div class="">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">Rewards</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"" >
					<div class="static-pages">
						<p>
							<b class="topic-title text-center">Refer A Friend</b><br>
							<span>The Lynked.World referral program lets you earn rewards for each successful referral registered in your account! </span><br><br>
							<span>How it works: </span><br><br>
						</p>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<ol class="static-listing">
									<li>You start by visiting <a href="/refer-a-friend">Refer A Friend</a> page. From this page you can copy your referral link or send an invite email to a friend.</li>
									<li>Your friend can click the referral link (or the link in the email) and sign up for a Lynked.World account.</li>
									<li>If your friend successfully created an account using the referral link you both will receive a 5 LBD as referral bonus.</li>
									<li>If your friend refers his friend and his friend successfully create an account, you will receive 2 LBD as 1st indirect referral.</li>
									<li>If your friend’s friend refers his friend and his friend successfully create an account, you will receive 1 LBD as 2nd indirect referral.</li>
								</ol><br>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<img src="themes/frontend/images/rewards.png" class="img-responsive">
							</div>
						</div>
						<br>
						<p>
							<b class="topic-title text-center">Other Rewards</b><br>
							<span>Lynked.World also have other rewards program that lets you earn reward for various activities you perform on Lynked.World. The reward pools and its activities are divided into below categories.</span><br><br>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<img src="themes/frontend/images/reward1.png" class="img-responsive center-block"><br>
									<span class="topic-subtitle text-center">Create</span><br>
									<ul class="static-listing">
										<li>Creating Account</li>
										<li>Completing Profile</li>
										<li>Creating Blog</li>
										<li>Creating Post</li>
									</ul><br>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<img src="themes/frontend/images/reward2.png" class="img-responsive center-block"><br>
									<span class="topic-subtitle text-center">Participate</span><br>
									<ul class="static-listing">
										<li>Commnets on Blog</li>
										<li>Comments on Post</li>
									</ul><br>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<img src="themes/frontend/images/reward3.png" class="img-responsive center-block"><br>
									<span class="topic-subtitle text-center">Motivate</span><br>
									<ul class="static-listing">
										<li>Share Post outside Lynked.World</li>
										<li>Share Blog outside Lynked.World</li>
									</ul><br>
								</div>
							</div>
							<span>Each reward pool and its activities are eligible for rewards. Reward are awarded based on user activities and internal algorithms used by Lynked.World. </span><br><br>
						</p>
						<p>
							<b class="topic-title text-center">Reward Redemption Mechanism</b><br>
							<span>The reward in any of the above categories would be distributed in terms of Lynked Boost Dollar (LBD).</span><br><br>
							<span>One Lynked Boost Dollar (LBD) is equivalent to one USD. This will be redeemed as Lynk coin based on the current market price of Lynk coin.</span><br><br>
							<span><img src="themes/frontend/images/reward4.png" class="img-responsive center-block"></span><br><br>
							<span>For example, let’s say user is having 1 LBD as a reward. So user will get the equivalent Lynk coin after converting LBD based on market conditions as explained below</span><br>
						</p>
						<ul class="static-listing">
							<li>If market price of Lynk coin is $1, the user will get 1 Lynk coin after converting LBD into Lynk.</li>
							<li>If market price of Lynk coin is $0.5, the user will get 2 Lynk coin after converting LBD into Lynk.</li>
							<li>If market price of Lynk coin is $2, the user will get 0.5 Lynk coin after converting LBD into Lynk.</li>
						</ul><br>
						<p>
							<span>The user will be able to see his reward values equivalent to USD and in local currency in his profile.</span><br><br>
						</p>
						<p>
							<b class="topic-title">Redemption Policy</b><br>
							<span>Please note that users can redeem their reward only when their LBD reward balance reached to a threshold value defined by Lynked.World. The reward redemption threshold has been defined as 25 Lynked Boost Dollar (LBD) and an initial locking period of 6 month for a user to initiate redemption. After initial 6-month period all reward cab be redeem whenever each reach the threshold of 25 LBD except referral rewards. The redemption will happen once Lynk Token is available. If someone created a profile and next day he deleted it, reward awarded for this account will be deducted. Rewards earned never expire.</span><br><br>
							<small class="topic-subtitle"><b>Disclaimer:</b></small><br>
							<span>Lynked.World reserves the right to change the terms and condition of the rewards program at any time without prior notice. Lynked.World tries to provide accurate and timely information in our website, but it may contain inadvertent technical or factual inaccuracies and typographical errors. Lynked.World does not guarantee payout on every account referred due to misuse of referral link or fraud, but it will make a good faith effort to do so whenever possible. Rewards earned cannot be transferred to another account. By participating in the reward program, you acknowledge that receiving payout is not guaranteed by Lynked.World.</span><br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
