<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">

<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">Terms and Conditions/End User License Agreement</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"" >
					<div class="static-pages">
						<p>
							This End User License Agreement (the “EULA”) is between you as an individual or entity and Lynked.World. Use of Lynked.World by downloading, installing, or using this application for Android, iOS or other mobile platform, you agree to be bound by Agreement and of this EULA. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the Lynked.World Application.
						</p><br>
						<p>
							In order to ensure Lynked.World provides the best experience possible for everyone, we
							strongly enforce a no tolerance policy for objectionable content. If you see inappropriate content, please use the “Report as offensive” feature found under each post.
						</p><br>
						<p>THIS IS A LICENSE AGREEMENT BETWEEN YOU AND LYNKED.WORLD. PLEASE READ CAREFULLY AND ACCEPT THE TERMS AND CONDITIONS OF THIS END USER LICENSE AGREEMENT BEFORE INSTALLING THE SOFTWARE. BY CLICKING THE &quot;YES&quot; BUTTON (OR ANY SIMILAR BUTTON WHICH INDICATE YOUR CONSENT TO THESE TERMS), YOU AGREE TO BE BOUND BY THESE TERMS. YOU WILL NOT BE ABLE TO INSTALL THE SOFTWARE UNTIL YOU HAVE ACCEPTED THESE TERMS. IF YOU DO NOT AGREE WITH THESE TERMS, PLEASE EXIT THE INSTALLATION PROCESS.</p><br>
						<p>
							<b class="topic-title">1. General</b><br>
							<span>The Software is a downloadable software application that enables you to access Lynked.World functionality directly from your Android, iPhone, iPad or other mobile device supported by Lynked.World.</span><br><br>
						</p>
						<p>
							<b class="topic-title">2. Privacy</b><br>
							<span>Lynked.World may collect and use information about your usage of the Lynked.World App, including certain types of information from and about your device. Lynked.World may use this information, as long as it is in a form that does not personally identify you, to measure the use and performance of the Lynked.World App.</span><br><br>
						</p>
						<p>
							<b class="topic-title">3. Limited License</b><br>
							<span>Lynked.World grants you a limited, non-exclusive, non-transferable, revocable license to use the Lynked.World App for your personal, non-commercial purposes. You can install and use the Lynked.World App on only one mobile device.</span><br><br>
							<span>You shall not modify the Software. You may only copy the Software, provided that all copyright and other notices are reproduced and included on the copy. You may not (1) decompile, reverse engineer, disassemble or otherwise reduce the Software or any portion of the Software to a human-perceivable form, (2) modify, network, rent, lend, loan, distribute or create derivative works based upon the Software in whole or in part, (3) remove or alter any trademark, logo, copyright or other intellectual property notice in or on the Software, (4) commercially distribute, market, sublicense, resell or otherwise transfer the Software, and (5) You shall not export the Software or information about the Software without consent of Lynked.World. You may not make any use of the Software in whole or in part that is not expressly permitted by these Terms.</span><br><br>
							<span>You acknowledge and understand that Lynked.World may modify the Software and this EULA with notice to you either in email or by publishing notice on the Website, including but not limited to charging fees for the Software, or changing the functionality or appearance of the oftware.</span><br><br>
						</p>

						<p>
							<b class="topic-title">4. Age Restrictions</b><br>
							<span>By using the Lynked.World App, you represent and warrant that (a) you are 17 years of age or older and you agree to be bound by this Agreement; (b) if you are under 17 years of age, you have obtained verifiable consent from a parent or legal guardian; and (c) your use of the Lynked.World App does not violate any applicable law or regulation. Your access to the Lynked.World App may be terminated without warning if Lynked.World believes, in its sole discretion, that you are under the age of 17 years and have not obtained verifiable consent from a parent or legal guardian. If you are a parent or legal guardian and you provide your consent to your child’s use of the Lynked.World App, you agree to be bound by this Agreement in respect to your child’s use of the Lynked.World App.</span><br><br>
						</p>

						<p>
							<b class="topic-title">5. Objectionable Content Policy</b><br>
							<span>Content may not be submitted to Lynked.World, who will moderate all content and ultimately decide whether or not to post a submission to the extent such content includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling, including without limitation, any online casino, sports books, bingo or poker.</span><br><br>
						</p>

						<p>
							<b class="topic-title">6. Warranty</b><br>
							<span>LYNKED.WORLD DISCLAIMS ALL WARRANTIES OF ANY KIND TO THE FULLEST EXTENT, WHETHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO WARRANTIES THAT THE FUNCTIONS CONTAINED IN THE SOFTWARE WILL MEET ANY REQUIREMENTS OR NEEDS YOU MAY HAVE, OR THAT THE SOFTWARE WILL OPERATE ERROR FREE, OR IN AN UNINTERRUPTED MANNER, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED, OR THAT THE SOFTWARE IS FULLY COMPATIBLE WITH ANY PARTICULAR PLATFORM.</span><br><br>
						</p>

						<p>
							<b class="topic-title">7. Third Party Intellectual Property Claims</b><br>
							<span>Lynked.World shall not be obligated to indemnify or defend you with respect to any third party claim arising out or relating to the Lynked.World App.</span><br><br>
						</p>
						
						<p>
							<b class="topic-title">8. Limitation of Liability</b><br>
							<span>YOU EXPRESSLY UNDERSTAND AND AGREE THAT LYNKED.WORLD SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF LYNKED.WORLD HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). THESE LIMITATIONS AND EXCLUSIONS WILL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATIONS OF DAMAGES AND/OR EXCLUSIONS OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</span><br><br>
							<span><b>Effective on April 09, 2018</b></span><br><br>
						</p>
					</div>
					<hr class="clearfix"><br>
					<div class="static-pages">
						<h2 class="text-center">Terms and Conditions - Additional Clauses</h2><br>
						<p>
							 Welcome to <a href="https://lynked.world/"><b>Lynked.World</b></a> terms and conditions. Lynked.World govern your access to and use of it's services. These Terms are important and affect your legal rights. Lynked.World will terminate your access immediately if it finds that you are not complying with it's terms and conditions while accessing it's services. So, please read them carefully.
						</p><br>
						<p>
							<b class="topic-title">1. Who May Use the Services</b><br>
							<span>You may use the Services only if you agree to form a binding contract with Lynked.World and are not a person barred from receiving services under the laws of the applicable jurisdiction. In any case, you must be at least 13 years old to use the Services. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so.</span><br><br>
							<span>If you do not agree to this contract (“Contract” or “User Agreement”), do not register and do not access or otherwise use any of our Services.</span> 
						</p><br>
						<p>
							<b class="topic-title">2. Privacy</b><br>
							<span>Your privacy is very important to us. Lynked.World Privacy Policy <a href="/privacy-policy">(https://lynked.world/privacy)</a> describes how we handle the information you provide to us when you use our Services. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information.</span>
						</p><br>
						<p>
							<b class="topic-title">3. Your Account and Registration</b><br>
							<span>In order to access and use certain features of Lynked.World Services, you will need to register for a Lynked.World account. By creating an account, you agree that</span>
						</p>
						<ol class="static-listing">
							<li>You will not provide any false personal information about yourself.</li>
							<li>You will keep your information accurate and up to date.</li>
							<li>You will choose a strong and secure password.</li>
							<li>You will keep your password secure and confidential.</li>
							<li>You accept all risks of unauthorized access to your account and the information you provide to us.</li>
							<li>You will immediately notify us if you discover or otherwise suspect any security breaches related to Lynked.World, or your account.</li>
							<li>You are responsible for anything that happens through your account unless you close it or report misuse.</li>
						</ol><br>
						<p>
							<b class="topic-title">4. Communication Preference</b><br>
							<span>By creating a Lynked.World account, you also consent to receive electronic communications from Lynked.World. These communications may include a message sent to the contact information you provided us (e.g., email, mobile number, physical address) about your account, service announcements and administrative messages. These communications are considered part of the Services and your account, and you may not be able to opt-out from receiving them. You agree that any notices, agreements, disclosures or other communications that we send to you electronically will satisfy any legal communication requirements, including, but not limited to, that such communications be in writing. You should maintain copies of electronic communications from us by printing a paper copy or saving an electronic copy. We may also send you promotional communications via email, including, but not limited to, newsletters, exclusive offers, surveys and other news and information we think will be of interest to you. You may opt out of receiving these promotional emails at any time by following the unsubscribe instructions provided therein.</span>
						</p><br>
						<p>
							<b class="topic-title">5. Your License to Lynked.World services and content </b><br>
							<span>As between you and Lynked.World, you own the content and information that you submit or post to the Lynked.World services and you are only granting Lynked.World the following non-exclusive license: A worldwide, transferable and sublicensable right to use, copy, modify, distribute, publish, and process, information and content that you provide through our services, without any further consent, notice and/or compensation to you or others. </span><br><br>
							<span>Our Services allow messaging and sharing of information in many ways, such as links to news articles, job postings and blogs. Information and content that you share, or post may be seen by other Lynked.World members or visitors. </span><br><br>
							<span>We are not obligated to publish any information or content on our service and can remove it in our sole discretion, with or without notice. </span><br><br>
							<span>Not with standing anything to the contrary in these Terms, the Sites and Content may include software components provided by Lynked.World or a third party that are subject to separate license terms, in which case those license terms will govern such software components.</span><br>
						</p><br>
						<p>
							<b class="topic-title">6. Payment Obligations</b><br>
							<span>If you buy any of Lynked.World paid services, you agree to pay us the applicable fees and taxes. Failure to pay these fees will result in the termination of your Lynked.World paid services. Also, you agree that:</span><br>
						</p>
						<ul class="static-listing">
							<li>Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates).</li>
							<li>We may calculate taxes payable by you based on the billing information that you provide us at the time of purchase.</li>
						</ul><br>
						<p>
							<b class="topic-title">7. Disclaimers and Limitations of Liability</b><br>
							<small class="topic-subtitle"><b>- The Services are Available “AS-IS”</b></small><br>
							<span>Your access to and use of the Services or any Content are at your own risk. You understand and agree that the Services are provided to you on an “AS IS” and “AS AVAILABLE” basis. The “Lynked.World Entities” refers to Lynked.World, officers, directors, employees, agents, representatives, partners, and licensors. Without limiting the foregoing, to the maximum extent permitted under applicable law, THE LYNKED.WORLD ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. The Lynked.World Entities make no warranty or representation and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any Content; (iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services; and (iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from the Lynked.World Entities or through the Services, will create any warranty or representation not expressly made herein.</span><br><br>
							<small class="topic-subtitle"><b>- Limitation of Liability</b></small><br>
							<span>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE LYNKED.WORLD ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE LUNKED.WORLD ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID LYNKED.WORLD, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE LYNKED.WORLD ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</span><br><br>
						</p>
						<p>
							<b class="topic-title">8. General</b><br>
							<span>Lynked.World reserves the right to change or modify these Terms at any time and in our sole discretion. If we make changes to these Terms, we will provide notice of such changes, such as by sending an email notification, providing notice through the Sites or updating the “Last Updated” date at the beginning of these Terms. By continuing to access or use the Sites or Services, you confirm your acceptance of the revised Terms and all the terms incorporated therein by reference. We encourage you to review the Terms frequently to ensure that you understand the terms and conditions that apply when you access or use the Sites or Services. If you do not agree to the revised Terms, you may not access or use the Sites or Services. If you object to any changes, you may close your account. Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms. </span><br><br>
						</p>
						<p>
							<b class="topic-title">9. Termination</b><br>
							<span>You may end your agreement with Lynked.World at any time by deactivating your accounts and discontinuing your use of the Lynked.World Services. On termination, you lose the right to access or use the Lynked.World Services. Lynked.World reserves the right to cancel user information, including incorrect or invalid name, address, nationality, or ID numbers. </span><br><br>
						</p>
						<p>
							<b class="topic-title">Contact Us</b><br>
							<span>Reina Prinsen Geerligsdreef 21, <br>2135 HR Hoofddrop, <br>The Netherlands </span><br>
							<span>Email: <a href="mailto:info@lynked.world">info@lynked.world</a></span><br><br>
							<span><b>Effective on January 14, 2018</b></span><br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
