<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../themes/frontend/css/static.css">

<div class="clearfix"></div>
<!--Main section section -->
<div class="middle-content">
	<div class="static-container">
		<div class="row-fluid">
			<div class="breadcrumb-banner">
					<h1 class="static-title">End User License Agreement</h1>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"" >
					<div class="static-pages">
						<p>
							This End User License Agreement (the “EULA”) is between you as an individual or entity and Lynked.World. Use of Lynked.World by downloading, installing, or using this application for Android, iOS or other mobile platform, you agree to be bound by Agreement and of this EULA. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the Lynked.World Application.
						</p><br>
						<p>
							In order to ensure Lynked.World provides the best experience possible for everyone, we
							strongly enforce a no tolerance policy for objectionable content. If you see inappropriate content, please use the “Report as offensive” feature found under each post.
						</p><br>
						<p>THIS IS A LICENSE AGREEMENT BETWEEN YOU AND LYNKED.WORLD. PLEASE READ CAREFULLY AND ACCEPT THE TERMS AND CONDITIONS OF THIS END USER LICENSE AGREEMENT BEFORE INSTALLING THE SOFTWARE. BY CLICKING THE &quot;YES&quot; BUTTON (OR ANY SIMILAR BUTTON WHICH INDICATE YOUR CONSENT TO THESE TERMS), YOU AGREE TO BE BOUND BY THESE TERMS. YOU WILL NOT BE ABLE TO INSTALL THE SOFTWARE UNTIL YOU HAVE ACCEPTED THESE TERMS. IF YOU DO NOT AGREE WITH THESE TERMS, PLEASE EXIT THE INSTALLATION PROCESS.</p><br>
						<p>
							<b class="topic-title">1. General</b><br>
							<span>The Software is a downloadable software application that enables you to access Lynked.World functionality directly from your Android, iPhone, iPad or other mobile device supported by Lynked.World.</span><br><br>
						</p>
						<p>
							<b class="topic-title">2. Privacy</b><br>
							<span>Lynked.World may collect and use information about your usage of the Lynked.World App, including certain types of information from and about your device. Lynked.World may use this information, as long as it is in a form that does not personally identify you, to measure the use and performance of the Lynked.World App.</span><br><br>
						</p>
						<p>
							<b class="topic-title">3. Limited License</b><br>
							<span>Lynked.World grants you a limited, non-exclusive, non-transferable, revocable license to use the Lynked.World App for your personal, non-commercial purposes. You can install and use the Lynked.World App on only one mobile device.</span><br><br>
							<span>You shall not modify the Software. You may only copy the Software, provided that all copyright and other notices are reproduced and included on the copy. You may not (1) decompile, reverse engineer, disassemble or otherwise reduce the Software or any portion of the Software to a human-perceivable form, (2) modify, network, rent, lend, loan, distribute or create derivative works based upon the Software in whole or in part, (3) remove or alter any trademark, logo, copyright or other intellectual property notice in or on the Software, (4) commercially distribute, market, sublicense, resell or otherwise transfer the Software, and (5) You shall not export the Software or information about the Software without consent of Lynked.World. You may not make any use of the Software in whole or in part that is not expressly permitted by these Terms.</span><br><br>
							<span>You acknowledge and understand that Lynked.World may modify the Software and this EULA with notice to you either in email or by publishing notice on the Website, including but not limited to charging fees for the Software, or changing the functionality or appearance of the oftware.</span><br><br>
						</p>

						<p>
							<b class="topic-title">4. Age Restrictions</b><br>
							<span>By using the Lynked.World App, you represent and warrant that (a) you are 17 years of age or older and you agree to be bound by this Agreement; (b) if you are under 17 years of age, you have obtained verifiable consent from a parent or legal guardian; and (c) your use of the Lynked.World App does not violate any applicable law or regulation. Your access to the Lynked.World App may be terminated without warning if Lynked.World believes, in its sole discretion, that you are under the age of 17 years and have not obtained verifiable consent from a parent or legal guardian. If you are a parent or legal guardian and you provide your consent to your child’s use of the Lynked.World App, you agree to be bound by this Agreement in respect to your child’s use of the Lynked.World App.</span><br><br>
						</p>

						<p>
							<b class="topic-title">5. Objectionable Content Policy</b><br>
							<span>Content may not be submitted to Lynked.World, who will moderate all content and ultimately decide whether or not to post a submission to the extent such content includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling, including without limitation, any online casino, sports books, bingo or poker.</span><br><br>
						</p>

						<p>
							<b class="topic-title">6. Warranty</b><br>
							<span>LYNKED.WORLD DISCLAIMS ALL WARRANTIES OF ANY KIND TO THE FULLEST EXTENT, WHETHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO WARRANTIES THAT THE FUNCTIONS CONTAINED IN THE SOFTWARE WILL MEET ANY REQUIREMENTS OR NEEDS YOU MAY HAVE, OR THAT THE SOFTWARE WILL OPERATE ERROR FREE, OR IN AN UNINTERRUPTED MANNER, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED, OR THAT THE SOFTWARE IS FULLY COMPATIBLE WITH ANY PARTICULAR PLATFORM.</span><br><br>
						</p>

						<p>
							<b class="topic-title">7. Third Party Intellectual Property Claims</b><br>
							<span>Lynked.World shall not be obligated to indemnify or defend you with respect to any third party claim arising out or relating to the Lynked.World App.</span><br><br>
						</p>
						
						<p>
							<b class="topic-title">8. Limitation of Liability</b><br>
							<span>YOU EXPRESSLY UNDERSTAND AND AGREE THAT LYNKED.WORLD SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF LYNKED.WORLD HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). THESE LIMITATIONS AND EXCLUSIONS WILL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATIONS OF DAMAGES AND/OR EXCLUSIONS OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</span><br><br>
							<span><b>Effective on April 09, 2018</b></span><br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
