.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2-container--open.select2-container--default .select2-selection--single{
    border: 1px solid #66afe9;
}
.select2-container--default .select2-selection--single{
    height: 45px;
    border: 1px solid #7eb4c0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    background: #025ba2;
    background: #025ba2;
    border-radius: 3px;
    padding: 14px;
    margin: 8px 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #fff transparent;
    border-width: 0 4px 5px 4px;
}

/* job-post search page */

.post-job-list .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.post-job-list .select2-container--open.select2-container--default .select2-selection--single{
    border: 1px solid #66afe9;
}
.post-job-list .select2-container--default .select2-selection--single{
    height: 45px;
    border: 1px solid #7eb4c0;
}
.post-job-list .select2-container--default .select2-selection--single .select2-selection__arrow{
    background: #025ba2;
    background: #025ba2;
    border-radius: 3px;
    padding: 14px;
    margin: 8px 5px;
}
.post-job-list .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent;
}
.post-job-list .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #fff transparent;
    border-width: 0 4px 5px 4px;
}
.post-job-list .select2-selection__arrow{
    display: none !important;
}